<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1071568555410-7n26k7jl5559h1b7up43lvp2n5aseqdq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1071568555410-7n26k7jl5559h1b7up43lvp2n5aseqdq</string>
	<key>API_KEY</key>
	<string>AIzaSyCUyPHUcKaJyBHDkeTm5BUyEEOTsgbfJPs</string>
	<key>GCM_SENDER_ID</key>
	<string>1071568555410</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.app</string>
	<key>PROJECT_ID</key>
	<string>test-flutter-6172f</string>
	<key>STORAGE_BUCKET</key>
	<string>test-flutter-6172f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1071568555410:ios:2870725a0bed6ca3f6854b</string>
</dict>
</plist>